<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="Instruction" value="Please read instruction: &#xA;The program displays a series of natural numbers separated by commas, the square of which is less than the specified number.&#xA;Input supports only one unsigned integer number.  (Example: 898)" />
  </appSettings>
</configuration>