<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="Instruction" value="Please read instruction: &#xA;The program allows you to display all Fibonacci numbers that are in the specified range. &#xA;Range input supports only two unsigned integer number separated by comma (&quot; , &quot;). (Example: 5, 99)" />
  </appSettings>
</configuration>